[submodule "gradle-marytts-component-plugin"]
	path = gradle-marytts-component-plugin
	url = https://github.com/marytts/gradle-marytts-component-plugin.git
[submodule "gradle-marytts-voicebuilding-plugin"]
	path = gradle-marytts-voicebuilding-plugin
	url = https://github.com/marytts/gradle-marytts-voicebuilding-plugin.git
[submodule "marytts-lang-hsb"]
	path = marytts-lang-hsb
	url = https://github.com/marytts/marytts-lang-hsb.git
[submodule "serbski-institut-hsb-data"]
	path = serbski-institut-hsb-data
	url = https://github.com/marytts/serbski-institut-hsb-data.git
